
  .nav-link, .dropdown-item {
  transition: color 0.3s ease, transform 0.3s ease;
  }
  .nav-link:hover {
  color: #e83e8c ;
  transform: translateY(-2px);
  }
  .dropdown-item:hover {
  background-color: #f8d7da;
  color: #7c2f48;
  transform: translateX(5px);
  }
  .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e83e8c;
  transition: width 0.3s ease;
  margin-top: 2px;
  }
  .nav-link:hover::after {
  width: 100%;
  }
  .navbar-brand:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  }
  .logo{
    width: 60px;
    height: auto;
  }
  .head {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h2{
    text-align: center;
  }
 a{
    text-decoration: none;
 }
 .footer {
    background: black;
}
.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer .social-links a {
    font-size: 18px;
    padding: 8px;
    background: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.footer .social-links a:hover {
    background: #555;
}
  .cake-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #eee;
  }
  .cake-item img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 15px;
  }
  .popup {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #f8d7da;;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .popup-content img {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    display: block;
  }